#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2024
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
software =
{
    version = "${SWU_VERSION}";
    name = "${SWU_NAME}";
    bootloader_transaction_marker = false;
    bootloader_state_marker = false;
    ${SWU_HW_COMPAT_NODE}
    files: (${SWU_BOOTLOADER_FILE_NODE});
}
