#!/bin/sh
#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2025
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
. /usr/share/factory-reset/reset-env

. /scripts/cip-initramfs-functions

check_partitions()
{
    found=0
    for partition in ${INITRAMFS_FACTORY_RESET_DEVICES}; do
        if blkid | grep -q "$(basename $partition)"; then
            found=$((found + 1))
        fi
    done
    if [ "$found" -eq "$(awk -v var="${INITRAMFS_FACTORY_RESET_DEVICES}" 'BEGIN{n=split(var,a," "); print n}')" ]; then
        return 0
    fi
    return 1
}

target_devices="${INITRAMFS_FACTORY_RESET_DEVICES}"

wait_30sec_for_condition check_partitions

if /usr/sbin/get-factory-reset.sh --delete | grep -q "factory-reset"; then
    log_begin_msg "Factory Reset"
    for target in ${target_devices}; do
        log_begin_msg "Reset device: $target"
        fs_type=$(get_fstype "${target}")
        case "$target" in
            *by-partlabel*)
                label="$(basename "${target}" )"
                ;;
            *)
                label=$(blkid --match-tag LABEL "$target" | awk -F= '{gsub(/"/,"");print $2}' )
                if [ -z "${label}" ]; then
                    log_warning_msg "Could not find any label  for target '$target'"
                fi
                ;;
        esac
        if [ "$fs_type" = "luks" ]; then
            if [ -n "${INITRAMFS_FACTORY_RESET_CLEAR_TPM}" ]; then
                # after this the data on the encrypted partition
                # is inaccessible
                tpm2_clear
                # with encryption the original fs_type is hidden
                # use a variable from the reset-env to set it
                fs_type="$INITRAMFS_FACTORY_RESET_LUKS_FORMAT_TYPE"
            else
                target=$(find /dev/mapper -iname "*$label")
                fs_type=$(get_fstype "${target}")
                echo "luks device detected use $target"
            fi
        fi
        case ${fs_type} in
            ext*)
                /sbin/mke2fs -L "${label}" -F -t ext4 "${target}"
                ;;
            btrfs)
                /sbin/mkfs.btrfs -L "${label}" --force "${target}"
                ;;
            *)
                log_warning_msg "Unrecognized filesystem type ${fs_type} - could not format"
                ;;
        esac
        log_end_msg "Reset device: $target"
    done
    log_end_msg "Factory Reset"
fi
