### FTPM + RPMB + StandaloneMM setup
CONFIG_OPTEE_SERVICE_DISCOVERY=y
CONFIG_TPM=y
CONFIG_TPM_V2=y
CONFIG_CMD_TPM=y
CONFIG_TPM2_FTPM_TEE=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_MEASURED_BOOT=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_MMC_RPMB=y
CONFIG_EFI_TCG2_PROTOCOL=n

# workaround for v2025.07
CONFIG_USB_STORAGE=y
