# CONFIG_MMC=y
# CONFIG_SUPPORT_EMMC_RPMB=y
# CONFIG_SUPPORT_EMMC_BOOT=y
# CONFIG_MMC_PCI=y
# CONFIG_MMC_SDHCI=y
# CONFIG_TEE=y
# CONFIG_OPTEE=y
# CONFIG_EFI_PARTITION=y
# CONFIG_FS_FAT=y
# CONFIG_EFI_MM_COMM_TEE=y
# CONFIG_EFI_SCROLL_ON_CLEAR_SCREEN=y
# CONFIG_CMD_MMC=y
# CONFIG_CMD_MMC_REG=y
CONFIG_CMD_OPTEE_RPMB=y
# CONFIG_CMD_DHCP=y
# broken build in upstream
# CONFIG_UT_OPTEE is not set
######################################3
#
### RPMB key pairing config
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_SERVICE_DISCOVERY=y
CONFIG_TPM=y
CONFIG_TPM_V2=y
CONFIG_MEASURED_BOOT=y
CONFIG_CMD_TPM=y
CONFIG_TPM2_FTPM_TEE=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_MMC_RPMB=y
CONFIG_BOOTCOMMAND="setenv pair_rpmb_key 'setenv -e -nv -bs -rt pairing 1; setenv -e pairing'; run pair_rpmb_key; bootefi bootmgr"
