#!/bin/sh
#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2025
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT

usage() {
    echo "$0 --create|--delete"
}
marker_file="/sys/firmware/efi/efivars/${FACTORY_RESET_MARKER}-${FACTORY_RESET_EFIVARS_GUID}"

create_marker() {
    if [ ! -e "$marker_file" ]; then
        tmpfile=$(mktemp)
        echo "FactoryReset" > "$tmpfile"
        efivar --write --name="${FACTORY_RESET_EFIVARS_GUID}-${FACTORY_RESET_MARKER}" --attributes=7 -f "$tmpfile"
    fi
}

delete_marker() {
    if [ -e "$marker_file" ]; then
        chattr -i "$marker_file"
        rm "$marker_file"
    fi
}

if [ $# -eq 0 ]; then
    usage
fi

if ! mountpoint -q /sys/firmware/efi/efivars; then
    if ! mount -t efivarfs none /sys/firmware/efi/efivars; then
        echo "Could not mount efivarfs"
        exit 1
    fi
fi

while [ $# -gt 0 ]; do
    case $1 in
        -c|--create)
            create_marker
            shift
            ;;
        -d|--delete)
            delete_marker
            shift
            ;;
        -*)
            echo "Unkown option '$1'"
            usage
            exit 1
            ;;
    esac
done
