#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2022-2024
#
# Authors:
#  Jan Kiszka <jan.kiszka@siemens.com>
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#

ovl_storage_path="${INITRAMFS_OVERLAY_STORAGE_PATH}"
ovl_lower_dirs="${INITRAMFS_OVERLAY_PATHS}"

root_mount_storage=${rootmnt}${ovl_storage_path}
storage_mount_point="$(echo "${ovl_storage_path}" | awk -F/ '{print FS$2}' )"

if ! mountpoint -q "${rootmnt}${storage_mount_point}"; then
	ovl_partition_device="${INITRAMFS_OVERLAY_STORAGE_DEVICE}"
	ovl_mount_option="${INITRAMFS_OVERLAY_MOUNT_OPTIONS}"
	ovl_recovery_script="/scripts/${INITRAMFS_OVERLAY_RECOVERY_SCRIPT}"

	partition_fstype=$(get_fstype "${ovl_partition_device}")

	case $partition_fstype in
	ext*)
		fsck_ret=0
		e2fsck -p -f "$ovl_partition_device" || fsck_ret="$?"

		# e2fsck returns a 1 in case of repairing the file system
		# https://man7.org/linux/man-pages/man8/e2fsck.8.html#EXIT_CODE
		if [ "$fsck_ret" -gt "1" ]  && [ -x "$ovl_recovery_script" ]; then
			"$ovl_recovery_script" "$partition_fstype" "$ovl_partition_device"
		fi
		;;
	esac
	if ! mount -t ${partition_fstype} \
		 -o ${ovl_mount_option} \
		 ${ovl_partition_device} \
		 ${rootmnt}${storage_mount_point}; then
		panic "Can't mount ${storage_mount_point} partition - overlay will not work!"
	fi
fi

for ovl_lower_dir in ${ovl_lower_dirs}; do
	# remove the first '/' and replace all '/' with '_'
	# on variable $ovl_lower_dir
	work_dir_name=$(awk -v var=$ovl_lower_dir \
		'BEGIN{subvar=substr(var,2);gsub("/","_",subvar);print subvar}')

	lower_dir=${rootmnt}${ovl_lower_dir}
	upper_dir=${root_mount_storage}${ovl_lower_dir}
	work_dir=${root_mount_storage}/.${work_dir_name}-atomic

	mkdir -p ${upper_dir}
	mkdir -p ${work_dir}

	if ! mount -t overlay \
		   -o lowerdir=${lower_dir},upperdir=${upper_dir},workdir=${work_dir} \
		   overlay ${lower_dir}; then
		panic "Can't mount overlay for '$ovl_lower_dir' !"
	fi
done

exit 0
