#
# SPDX-License-Identifier: MIT
#
PARTITIONS="${CRYPT_PARTITIONS}"
CREATE_FILE_SYSTEM_CMD="${CRYPT_CREATE_FILE_SYSTEM_CMD}"
SETUP_TIMEOUT="${CRYPT_SETUP_TIMEOUT}"
WATCHDOG_DEV="${INITRAMFS_WATCHDOG_DEVICE}"
HASH_TYPE="${CRYPT_HASH_TYPE}"
KEY_ALGORITHM="${CRYPT_KEY_ALGORITHM}"
ENCRYPTION_IS_OPTIONAL="${CRYPT_ENCRYPTION_OPTIONAL}"
MOUNT_OPTIONS="${INITRAMFS_CRYPT_MOUNT_OPTIONS}"
